  /* Change the background color of the page body */
  /* and Change the default text color and Customize the font family */
  body {
      background: linear-gradient(rgb(245, 242, 158), #f2d21d, #f0730c);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .main-div {
    margin-top: 30px;
    padding-top: 30px;
  }

  /* Add spacing (padding/margin) between sections */
  section {
      background-color: #f9f3f6;
      padding: 15px;
      border: 2px solid rgb(200, 74, 33);
      margin: 10px;
  }
  
  a:focus {
      outline: 2px solid rgb(0, 255, 47);
  }

  a:hover {
      color: #860707;
      outline: 2px solid rgb(17, 225, 27);
  }

  .section-margin {
      padding-top: 10px;
  }

  .section-heading {
      background-color: rgb(245, 212, 144);
      transition: background-color is ease;
  }

  .section-heading:hover {
      background-color: #68b7df;
  }

  @keyframes colorChange {
      0% {
          background-color: red;
      }

      25% {
          background-color: yellow;
      }

      50% {
          background-color: green;
      }

      75% {
          background-color: blue;
      }

      1000% {
          background-color: red;
      }
  }

  .animated-div {
      background-color: red;
      animation: colorChange 5s infinite;
  }

  /* Change the font size, weight, and color of all headings */
  h1,
  h2 {
      font-size: 30px;
      color: rgb(152, 10, 10);
      font-weight: 600;
      margin-bottom: 0.5rem;
      margin-top: 0.1rem;
      font-family: 'Times New Roman', Times, serif;
  }

  /* Transform the "Experience" list items into styled blocks */
  .skills {
      display: flex;
      flex-direction: row;
}

  .list {
      list-style-type: none;
      padding: 10px;
      margin: 5px;
      display: flex;
  }

  .list li {
      padding: 10px;
      border: 2px solid #860707;
      margin-right: 10px;
      border-radius: .3em;
  }

  .list li:hover {
      background-color: #f3e035;
  }

  /* Transform the "Messages" list items into styled blocks and customize the button(s) */
  #messages {
      padding: 10px;
      margin: 5px;
      border: 3px dashed #8777ec;
  }

  /* Change the spacing and background color of the footer */
  footer {
      background-color: #f1eae3;
      font-size: 1rem;
      padding: 5px;
      border: 2px solid rgb(120, 7, 7);
      margin: 5px;
  }

  .footer_container {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(rgb(183, 192, 20), #cbae09, #f0730c);
      margin: 5px;
      padding: 1px;
      padding-left: 10px;
      padding-right: 10px;
      color: #e1e0ee;
      text-align: center;
  }

  .image {
      display: inline-block;
  }

  .image--small {
      width: 30px;
  }

  .image--rounded {
      border-radius: 1.9em;
  }

  .image:hover {
      transform: scale(2.1);
  }

  /* Adding a navigation header to my webpage with fixed position*/
  .fixed-header {
      display: flex;
      position: fixed;
      top: 0;
      width: 100%;
      padding: 10px;
      
      justify-content: space-between;
      background: linear-gradient(rgb(183, 192, 20), #cbae09, #f0730c);
  }

  .left-list ul,
  .right-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0px;
      display: flex;
  }

  .right-list ul {
      margin-right: 15px;
      margin-left: 15px;
  }

  .left-list a,
  .right-list a {
      text-decoration: none;
      color: white;
      /*Adjust text color as needed*/
      padding: 5px;
      font-size: large;
  }

  .left-list li,
  .right-list li {
      margin-left: 15px;
      margin-right: 15px;
      /* Adjust spacing between list items as needed */

  }
  /* Change the layout of your "Experience" section using rows and columns so items are displayed in a grid rather than a list */
  /* used CSS Grid */
  .experience {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px
  }

  .experience li {
      padding: 10px;
      margin: 5px;
      background-color: #edd478;
  }

  .experience li:hover {
      background-color: #b5aaed;
  }

  /* Change font size, padding, border, etc. of inputs and textarea */
  /* Style the "leave a message form elements */
  /* Add spacing (padding/margin) between form fields*/
  /* Change padding, background color, border, etc. of submit button */
  /* update the "Leave a Message" form to use Flexbox or CSS Grid */

  .form-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 250px;
      gap: 20px;
      margin: 20px auto;
      padding: 10px;
      border: 1px solid #950909;
      border-radius: 5px;
      margin-left: 10px;
  }

  label {
      display: block;
      margin-bottom: 5px;
  }

  input,
  textarea {
      width: 200px;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  form button {
      background-color: #4caf50;
      color: white;
      cursor: pointer;
  }

  form button:hover {
      background-color: #455ca0;
  }
/* Toggle Dark Mode */
  .dark-mode {
    background: linear-gradient(rgb(18, 18, 17), #3f3535, #5f564f);
    /* background-color : black; */
    color: white;
  }
  /* Use Media Queries to make sure the webpage is responsive for all device sizes(mobile, desktop,etc.) */
  /* and (max-device-width: 8000px)  */
  @media screen and (max-width: 700px) {
      .skills {
          flex-direction: column;
          align-items: center;
      }

      .list {
          flex-direction: column;
      }

      .list li {
          margin-right: 0;
          margin-bottom: 10px;
      }
  }

  @media screen and (max-width: 300px) {

      input,
      textarea {
          width: 120px;
      }

      .form-container {
          width: 140px;
      }

      .left-list li,
      .right-list li {
          margin-left: 1px;
          margin-right: 1px;
          /* Adjust spacing between list items as needed */

      }
  }

  @media screen and (max-width: 700px) {
      .fixed-header {
          /* flex-wrap: wrap; */
          flex-direction: column;
          align-items: center;

      }

      .fixed-header a {
          display: block;
          margin-bottom: 5px;
          font-size: 15px;
      }
  }

  @media screen and (max-width: 600px) {
      .fixed-header a {
          display: block;
          margin-bottom: 5px;
          font-size: 10px;
      }
  }